<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="0px"
     fxLayoutGap.xs="0">
  <div class="item main-content" fxFlex="35%" fxFlex.md="55%" fxFlex.sm="60%">
      <mat-card>
          <mat-card-title>Login</mat-card-title>
          <mat-card-subtitle>Enter your TL;DM Login credentials to install the integration</mat-card-subtitle>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="example-container">
              <mat-form-field>
                <input matInput placeholder="Username (Email)" formControlName="EmailId" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="Password" required>
              </mat-form-field>
              <div *ngIf="error" style="color: red;font-size: 13px;">* {{ error }}</div>
              <button mat-raised-button color="primary" type="submit">Login</button>
            </div>
          </form>
        </mat-card>
  </div>
</div>
