.example-container {
  display: flex;
  flex-direction: column;
}


.container {
  margin-top: 1%;
}
/* .example-container > * {
  width: 100%;
} */
/* mat-grid-list {
  height: auto;
} */

.main-content {
  /* margin-top: 1%; */
}

/* mat-card {
  width: 100%;
} */

/* mat-card-tile {
  height: auto;
} */

.error {
  color: red;
  font-style: italic;
  font-size: 13px;
}

/* button {
 float: right;
} */
mat-card-actions {
  text-align: center;
}

mat-grid-list {
  margin-top: 1%;
}

