<h3>Brilliant Bots</h3>
<h4>Turn your conversation into action - Create a task, comment or follow-up from any TLDM messages with actions</h4>
<mat-grid-list cols="3" rowHeight="300px" *ngIf="applications">
  <mat-grid-tile *ngFor="let app of applications">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{app.name}}</mat-card-title>
        <mat-card-subtitle>By {{app.developer}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="app.logoUrl">
      <mat-card-actions>
        <button (click)="getDetails(app.id)" id="btn" mat-button>More Details</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


<h3>Apps and integrations</h3>
<h4>Defaults bots added across shared channels in TL;DM</h4>
<mat-grid-list cols="3" rowHeight="300px" *ngIf="applications">
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Entre</mat-card-title>
        <mat-card-subtitle>By Rishabh</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.shareicon.net/download/2016/12/29/866485_email.svg">
      <mat-card-content>
        Useful for inter-workspace communication
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Calculator</mat-card-title>
        <mat-card-subtitle>By Rishabh</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.svgrepo.com/show/1892/studio-calculator.svg">
      <mat-card-content>
        Coming soon
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Poll</mat-card-title>
        <mat-card-subtitle>By Rishabh</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://png.icons8.com/metro/1600/poll-topic.png">
      <mat-card-content>
        Coming soon
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


