mat-grid-list {
  margin-top: 10px;
}
img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.example-card {
  width: 70%;
}

#btn {
  position: center;;
}

h3,h4 {
  margin-left: 40px;
}
