<mat-grid-list cols="5" rowHeight="70%">
  <mat-grid-tile colspan="2" *ngIf="application">
    <mat-card class="main-card">
      <img mat-card-image [src]="application.logoUrl">
      <mat-card-actions>
        <button (click)= "install()" mat-stroked-button color="primary">Install</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <mat-card class="info-card">
      <mat-card-title>{{application?.name}}</mat-card-title>
      <mat-card-subtitle>By {{application?.developer}}</mat-card-subtitle>
      <mat-card-content>{{ application?.info }}</mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
