.main-card {
  width: 40%;
  height: 73%;
}
.info-card {
  width: 70%;
  height: 73%;
}
.example-header-image {
  background-size: cover;
}

img {
  padding-top : 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 180px;
  height: 180px;
  object-fit: cover;
}

button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
